<html>
    <head>
        <title>Proxy Test</title>
    </head>
    <body>
        Test Page
        <script>
          const script = document.createElement('script')
          script.src = '/hubs/assets/js/umbra/UmbraAssetWorker.js'
          // script.src = 'https://xr-tietoa-online-001-assets-69a9cde0.s3-eu-west-1.amazonaws.com/hubs/assets/js/umbra/UmbraAssetWorker.js'
          document.body.append(script)
        </script>
    </body>
</html>
